[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
boto3 = "*"
ipython = "*"

[packages]
requests = ">=2.21"
pymysql = ">=1.0.2"
boto3 = "*"

[requires]
python_version = "3.7"
